<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="info_console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </Console>

        <Console name="error_console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" />
            </Filters>
        </Console>

        <RollingFile name="info_file" fileName="c:\logs\java\info.log" filePattern="info-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2" compressionLevel="4"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" />
            </Filters>
        </RollingFile>

        <RollingFile name="error_file" fileName="c:\logs\java\error.log" filePattern="error-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2" compressionLevel="4"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" />
            </Filters>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- fatal < error < warn < info < debug < trace < all -->

        <Root level="trace">
            <AppenderRef ref="info_file"/>
            <AppenderRef ref="error_file"/>
            <AppenderRef ref="error_console"/>
        </Root>

        <Logger name="edu.kimjones" level="debug" additivity="false">
            <AppenderRef ref="info_console"/>
        </Logger>

    </Loggers>

</Configuration>